docs/servicios-web/UsuariosServicio.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="https://miguelerm.github.io/servicios/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" targetNamespace="https://miguelerm.github.io/servicios/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="https://miguelerm.github.io/servicios/">
      <s:element name="ObtenerUsuarios">
        <s:complexType />
      </s:element>
      <s:element name="ObtenerUsuariosResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ObtenerUsuariosResult" type="tns:ArrayOfUsuarioModelo" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ArrayOfUsuarioModelo">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="UsuarioModelo" nillable="true" type="tns:UsuarioModelo" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="UsuarioModelo">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="Id" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="Nombre" type="s:string" />
        </s:sequence>
      </s:complexType>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="ObtenerUsuariosSoapIn">
    <wsdl:part name="parameters" element="tns:ObtenerUsuarios" />
  </wsdl:message>
  <wsdl:message name="ObtenerUsuariosSoapOut">
    <wsdl:part name="parameters" element="tns:ObtenerUsuariosResponse" />
  </wsdl:message>
  <wsdl:portType name="UsuariosServicioSoap">
    <wsdl:operation name="ObtenerUsuarios">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Obtiene todos los usuarios</wsdl:documentation>
      <wsdl:input message="tns:ObtenerUsuariosSoapIn" />
      <wsdl:output message="tns:ObtenerUsuariosSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="UsuariosServicioSoap" type="tns:UsuariosServicioSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="ObtenerUsuarios">
      <soap:operation soapAction="https://miguelerm.github.io/servicios/ObtenerUsuarios" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="UsuariosServicioSoap12" type="tns:UsuariosServicioSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="ObtenerUsuarios">
      <soap12:operation soapAction="https://miguelerm.github.io/servicios/ObtenerUsuarios" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="UsuariosServicio">
    <wsdl:port name="UsuariosServicioSoap" binding="tns:UsuariosServicioSoap">
      <soap:address location="http://localhost:52359/UsuariosServicio.asmx" />
    </wsdl:port>
    <wsdl:port name="UsuariosServicioSoap12" binding="tns:UsuariosServicioSoap12">
      <soap12:address location="http://localhost:52359/UsuariosServicio.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>